.footer{
    position: fixed;
    bottom: 0;
    color: white;
    background-color: #4abdb6;
    height: 60px;
    margin: 60px auto;
    display: flex;
    position: sticky;
    justify-content: space-between;
}

.footer h5{
    margin-right: 10px;
}
.cart-detail{
    font-size: small;
    margin-left: 10px;
}
.footer p{
    margin: 5px;
}
.price{
    padding-top: 8px;
}